name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] 
  workflow_dispatch: 
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ngockhanh21
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Asia/Ho_Chi_Minh
